<h1 class="text-center">Create your own Cocktail</h1>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
     <%= simple_form_for @cocktail do |f| %>
       <%= f.input :name,  label_html: {class: "label label-primary"}, input_html: {class: "form-control"}  %>
       <%= f.submit%>
     <% end %>
    </div>
  </div>
</div>
